body {
    background-image: url("./images/475707.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white !important;
    font-family: 'Space Mono', monospace !important;

}

.box {
    margin: 20px;
    width: 400px;
}

img {
    width: 100px;
    height: 100px;
}

.photo img {
    width: 250px;
    height: 250px;
    padding: 5px;
    
}

.photo {
    /* display: inline;  */
    border: solid 3px rgb(255, 255, 255);
    width: 260px;
    height: 260px;
    margin: 10px;
    
}

.imageInfo {
    width: 90vw;
    margin: auto;
    margin-top: 40px;
}
.imageInfo ul {
    list-style-type: none;
    /* display: inline;  */
}

.imageInfo li {
    display: inline-block;
}
.imageInfo h1 {
    text-align: center;
}

.rovers {
    width: 200px !important;
    height: 30px !important;
    margin: 20px 0px;
}

.days {
    width: 100px !important;
    height: 30px !important;
    /* display: none !important; */
}

.days2 {
    width: 100px !important;
    height: 30px !important;
}

@media only screen and (max-width: 600px) {
    .days {
        width: 100px !important;
        height: 40px !important;
        /* display: none !important; */
    }
    .rovers {
        width: 200px !important;
        height: 40px !important;
        margin: 20px 0px;
    }
    body {
        /* width: 200px; */
        /* margin: auto; */
        
    }
    
}
